.contact-form {
  max-width: clamp(21.875rem, calc(var(--vw, 1vw) * 125), 33.75rem);
  width: 100%;
  background-color: #EBF2FF;
  padding: clamp(1rem, calc(1rem + var(--font-scale-combined) * 10), 1.563rem);
  border-radius: clamp(0.4rem, calc(0.4rem + var(--font-scale-combined) * 15), 0.6rem);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
  min-height: calc(var(--vh, 1vh) * 15);
  max-height: calc(var(--vh, 1vh) * 65);
}

.contact-form h3 {
    font-size: clamp(0.4rem, calc(0.4em + var(--font-scale-combined) * 70), 3rem);
    margin-bottom: clamp(0.4rem, calc(0.4rem + var(--font-scale-combined) * 20), 0.9rem);
}

.contact-form label {
    display: block;
    margin-bottom: clamp(0.5rem, calc(0.5rem + var(--font-scale-combined) * 10), 1rem);
    font-weight: bold;
    font-size: clamp(0.3rem, calc(0.3rem + var(--font-scale-combined) * 70),  1.1rem);
    color: #E9760C
}

.message {
    height: calc(var(--vh, 1vh) * 5);
    min-height: 1.5rem;
    max-height: 3.5rem;
}

.message2 {
    height: calc(var(--vh, 1vh) * 8);
    min-height: 1.5rem;
    max-height: 5.5rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: clamp(0.313rem, 0.294vw + 0.249rem, 0.625rem);
    margin-bottom: clamp(0.4rem, calc(0.4rem + var(--font-scale-combined) * 20), 1rem);
    border: 1px solid #ccc;
    border-radius: clamp(0.4rem, calc(0.4rem + var(--font-scale-combined) * 15), 0.6rem);
    font-size: clamp(1rem, calc(0.7rem + var(--font-scale-combined) * 10), 1.2rem);
    font-family: 'Times New Roman', Times, serif;
    resize: vertical;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #426CB8;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: clamp(1rem, calc(var(--vh) * 2), 1.2rem);
    margin-bottom: clamp(1rem, calc(var(--vh) * 2), 1.2rem);
}

.contact-form button {
    background-color: #E9760C;
    color: white;
    padding:    clamp(0.5rem, calc(var(--vh) * 1.2), 1rem)
                clamp(0.8rem, calc(var(--vw, 1vw) * 2), 1.8rem); 
    border: none;
    cursor: pointer;
    font-size: clamp(0.8rem, calc(0.8rem + var(--font-scale-combined) * 8), 1.2rem);
    font-weight: 600;
    border-radius: clamp(1.2rem, calc(1.2rem + var(--font-scale-combined) * 15), 2.5rem);
    transition: transform 0.3s ease, box-shadow 0.3s ease, scale 0.5s ease;
}

/* SweelAlert Styling */
.custom-swal-popup {
    background: linear-gradient(135deg, #EBF2FF 0%, #ffffff 100%);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    font-family: inherit;
}

.custom-swal-title {
    color: #333;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.custom-swal-content {
    color: #666;
    font-size: 1.1rem;
    line-height: 1.5;
}

.custom-swal-button {
    background: #E9760C;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.custom-swal-button:hover {
    background: #E9760C;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.input-box {
  margin-bottom: clamp(0.5rem, calc(0.5rem + var(--font-scale-combined) * 10), 1rem);
}

@supports (-webkit-touch-callout: none) {
    .contact-form input,
    .contact-form textarea,
    .contact-form select {
        font-size: 16px !important;
    }
}

@media (max-height: 799px) {
    .contact-form {
        min-height: calc(var(--vh, 1vh) * 10);
        max-height: calc(var(--vh, 1vh) * 50);
        padding: clamp(0.5rem, calc(0.5rem + var(--font-scale-combined) * 5), 1rem);
    }

    .contact-form h3 {
        font-size: clamp(0.8rem, calc(0.8rem + var(--font-scale-combined) * 20), 1.5rem);
        margin-bottom: clamp(0.2rem, calc(0.2rem + var(--font-scale-combined) * 5), 0.5rem);
    }

    .contact-form label {
        font-size: clamp(0.6rem, calc(0.6rem + var(--font-scale-combined) * 18), 0.9rem);
        margin-bottom: clamp(0.1rem, calc(0.1rem + var(--font-scale-combined) * 10), 0.4rem);
    }

    .contact-form input,
    .contact-form textarea {
        font-size: clamp(0.6rem, calc(0.6rem + var(--font-scale-combined) * 8), 1rem);
        padding: clamp(0.2rem, calc(0.2rem + var(--font-scale-combined) * 3), 0.4rem);
        margin-bottom: clamp(0.3rem, calc(0.3rem + var(--font-scale-combined) * 8), 0.6rem);
    }

    .message {
        height: calc(var(--vh, 1vh) * 3);
        min-height: 1.2rem;
        max-height: 2.5rem;
    }

    .message2 {
        height: calc(var(--vh, 1vh) * 5);
        min-height: 1.5rem;
        max-height: 3rem;
    }

    .button-container {
        margin-top: clamp(0.5rem, calc(var(--vh) * 1), 0.8rem);
        margin-bottom: clamp(0.5rem, calc(var(--vh) * 1), 0.8rem);
    }

    .contact-form button {
        padding: clamp(0.3rem, calc(var(--vh) * 0.8), 0.6rem) 
                 clamp(0.6rem, calc(var(--vw, 1vw) * 1.5), 1.2rem);
        font-size: clamp(0.7rem, calc(0.7rem + var(--font-scale-combined) * 5), 1rem);
    }
}

@media (min-width: 569px) {
    .contact-form {
        max-width: clamp(21.875rem, 52.778vw + -1.875rem, 33.75rem);
        padding: clamp(0.8rem, 3.378vw + -0.72rem, 1.56rem);
        min-height: calc(var(--vh, 1vh) * 45);
        max-height: calc(var(--vh, 1vh) * 80);
    }
    
    .contact-form h3 {
        font-size: clamp(1rem, 2.222vw + 0rem, 1.5rem);
        margin-bottom: clamp(0.625rem, 1.222vw + 0.075rem, 0.9rem);
    }

    .contact-form label {
        margin-bottom: clamp(0.2rem, 0.889vw + -0.2rem, 0.4rem);
        font-size: clamp(0.8rem, 1.333vw + 0.2rem, 1.1rem);
    }

    .message {
        height: clamp(2rem, 8.889vw + -2rem, 4rem);
    }

    .message2 {
        height: clamp(2.5rem, 13.333vw + -3.5rem, 5.5rem);
    }

    .contact-form input,
    .contact-form textarea {
        padding: clamp(0.313rem, 0.831vw + -0.061rem, 0.5rem);
        margin-bottom: clamp(0.5rem, 0.556vw + 0.25rem, 0.625rem);
        border-radius: 8px;
        font-size: clamp(0.5rem, 2.222vw + -0.5rem, 1rem);
    }

    .button-container {
        margin-top: clamp(0.5rem, 3.111vw + -0.9rem, 1.2rem);
        margin-bottom: clamp(0.5rem, 3.111vw + -0.9rem, 1.2rem);
    }

    .contact-form button {
        padding: clamp(0.5rem, 2.222vw + -0.5rem, 1rem) clamp(0.938rem, 3.831vw + -0.786rem, 1.8rem); 
        font-size: clamp(0.8rem, 1.778vw + 0rem, 1.2rem);
        border-radius: clamp(1.563rem, 6.942vw + -1.561rem, 3.125rem);
    }

    .contact-form button:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      scale: 1.05;
    }
}

@media (min-width: 1081px) {
    .contact-form {
        max-width: clamp(31.25rem, 35.714vw + 7.143rem, 50rem);
    }

    .contact-form h3 {
        font-size: clamp(1.4rem, 0.952vw + 0.757rem, 1.9rem);
        margin-bottom: clamp(0.8rem, 0.571vw + 0.414rem, 1.1rem);
    }

    .contact-form label {
        margin-bottom: clamp(0.4rem, 0.381vw + 0.143rem, 0.6rem);
        font-size: clamp(0.9rem, 0.571vw + 0.514rem, 1.2rem);
    }
    
    .message {
        height: clamp(2.5rem, 2.857vw + 0.571rem, 4rem);
    }

    .message2 {
        height: clamp(4rem, 5.714vw + 0.143rem, 7rem);
    }

    .contact-form input,
    .contact-form textarea {
        padding: clamp(0.313rem, 0.831vw + -0.061rem, 0.5rem);
        margin-bottom: clamp(0.8rem, 1.143vw + 0.029rem, 1.4rem);
        border-radius: 8px;
        font-size: clamp(0.8rem, 0.571vw + 0.414rem, 1.1rem);
    }

    .button-container {
        margin-top: clamp(0.7rem, 0.952vw + 0.057rem, 1.2rem);
        margin-bottom: clamp(0.7rem, 0.952vw + 0.057rem, 1.2rem)
    }
}

@media (min-width: 1600px) {
    .contact-form {
        max-width: clamp(31.25rem, 35.714vw + 7.143rem, 60rem);
        border-radius: clamp(0.6rem, calc(0.6rem + var(--font-scale-combined) * 20), 1.2rem);
    }

    .contact-form h3 {
        font-size: clamp(1.4rem, (1.4rem + calc(var(--font-scale-combined) * 25)), 2.3rem);
        margin-bottom: clamp(0.8rem, 0.571vw + 0.414rem, 1.1rem);
    }

    .contact-form label {
        margin-bottom: clamp(0.4rem, calc(var(--vw) * 10), 0.6rem);
        font-size: clamp(0.9rem, (0.9rem + calc(var(--font-scale-combined) * 25)), 1.5rem);
    }
    
    .message {
        height: clamp(2.5rem, calc(var(--vh) * 25), 6rem);
        max-height: 6rem;
    }

    .message2 {
        height: clamp(4rem, calc(var(--vh) * 25), 10rem);
        max-height: 10rem;
    }

    .contact-form input,
    .contact-form textarea {
        padding: clamp(0.313rem, 0.831vw + -0.061rem, 0.5rem);
        margin-bottom: clamp(0.8rem, 1.143vw + 0.029rem, 1.4rem);
        border-radius: 8px;
        font-size: clamp(0.8rem, (0.8rem + calc(var(--font-scale-combined) * 10)), 1.1rem);
    }

    .button-container {
        margin-top: clamp(0.7rem, calc(var(--vh) * 25), 2rem);
        margin-bottom: clamp(0.7rem, calc(var(--vh) * 25), 2rem)
    }

    .contact-form button {
        padding: clamp(0.5rem, calc(var(--vh) * 1.5), 1.5rem) 
                 clamp(0.938rem, calc(var(--vw, 1vw) * 2), 2rem); 
        font-size: clamp(0.8rem, (0.8rem + calc(var(--font-scale-combined) * 20)), 2rem);
        border-radius: clamp(1.563rem, calc(var(--vw) * 10), 3.125rem);
    }
}

@media (min-width: 2300px) {
    .contact-form {
        max-width: clamp(31.25rem, calc(var(--vw) * 60), 60rem);
    }

    .contact-form h3 {
        font-size: clamp(1.4rem, (1.4rem + calc(var(--font-scale-combined) * 30)), 2.5rem);
        margin-bottom: clamp(0.8rem, 0.571vw + 0.414rem, 1.1rem);
    }

    .contact-form label {
        margin-bottom: clamp(0.4rem, calc(var(--vw) * 10), 0.6rem);
        font-size: clamp(0.9rem, (0.9rem + calc(var(--font-scale-combined) * 30)), 1.8rem);
    }
    
    .message {
        height: clamp(2.5rem, calc(var(--vh) * 25), 6rem);
        max-height: 6rem;
    }

    .message2 {
        height: clamp(4rem, calc(var(--vh) * 25), 10rem);
        max-height: 10rem;
    }

    .contact-form input,
    .contact-form textarea {
        padding: clamp(0.313rem, 0.831vw + -0.061rem, 0.5rem);
        margin-bottom: clamp(0.8rem, 1.143vw + 0.029rem, 1.4rem);
        border-radius: 8px;
        font-size: clamp(0.8rem, (0.8rem + calc(var(--font-scale-combined) * 20)), 1.5rem);
    }

    .button-container {
        margin-top: clamp(0.7rem, calc(var(--vh) * 25), 2rem);
        margin-bottom: clamp(0.7rem, calc(var(--vh) * 25), 2rem)
    }
}

@media (max-width: 768px) {
    /* Verhindere Zoom auf iOS bei Focus */
    .contact-form input,
    .contact-form textarea {
        font-size: 16px !important;
        touch-action: manipulation;
    }

    .contact-form {
      position: relative;
      overflow: visible;
    }

    .contact-form:focus-within {
        position: relative;
        overflow: visible;
      }


    /* Parent-Container bei Focus anpassen */
    .contact-page-section:has(.contact-form:focus-within) {
        scroll-snap-align: none;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
      }

    .message {
        height: calc(var(--vh, 1vh) * 5);
    }

    .message2 {
        height: calc(var(--vh, 1vh) * 8);
    }
}

body:has(.contact-form input:focus),
body:has(.contact-form textarea:focus) {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
}