.header-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1), 
              opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
  
.header-banner.visible {
  transform: translateY(0);
  opacity: 0.99;
}

.banner-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s cubic-bezier(0.2, 0.1, 0.1, 0.2);
}

.logo-link:hover {
  transform: scale(1.05);
}

.banner-logo {
  height: clamp(40px, 7vh, 150px);
  width: auto;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.banner-brand {
  font-size: clamp(1.2rem, 1.5vw + 0.5rem, 2rem);
  font-weight: 700;
  color: #000;
  text-decoration: none;
  transition: color 0.4s cubic-bezier(0.2, 0.1, 0.1, 0.2), transform 0.2s cubic-bezier(0.2, 0.1, 0.1, 0.2);
}
.banner-brand:hover {
  color: #E9760C;
  transform: scale(1.05);
}

.ingredient-container {
  width: clamp(60px, 8vw, 100px);
  min-width: clamp(60px, 8vw, 100px);
  height: clamp(60px, 8vw, 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner-image {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 0.8s forwards;
  transition: opacity 0.8s ease-out; 
}

.banner-image.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  transform: translate(10px)
}

.banner-minze {
  width: clamp(80px, 8vw, 200px);
  height: auto;
  margin-top: clamp(20%, 5vh, 40%);
  transition: transform 0.5s cubic-bezier(0.2, 0.1, 0.1, 0.2);
}

.banner-minze:hover {
  transform: rotate(10deg);
}

.banner-zitrone {
  width: clamp(80px, 8vw, 200px);
  height: auto;
  margin-top: clamp(60%, 10vh, 80%);
  transform: rotate(10deg);
  transition: transform 0.5s cubic-bezier(0.2, 0.1, 0.1, 0.2);
}

.banner-zitrone:hover {
  transform: rotate(0deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}