.background-waves-container {
   position: fixed;
   width: 100%;
   height: 120vh;
   pointer-events: none;
   padding: 0;
   margin: 0;
   overflow: visible;
}
  
.background-waves-top {
   top: 0; 
   right: 0;
   z-index: -2; 
   overflow: hidden;
   height: 50vh; 
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.background-waves-bottom {
   top: 50vh; 
   right: 0;
   z-index: 5; 
   overflow: hidden;
   height: 50vh; 
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.background-waves {
  position: absolute;
  width: auto;
  height: 120vh;
  max-width: none;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  transform: rotate(67deg);
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.3));
}

.top-wave {
  top: 0;
  right: -15%;
  object-position: center top;
}

.bottom-wave {
  top: -50vh;
  right: -15%;
  object-position: center top;
}

.show-waves .background-waves {
  opacity: 1;
}

@media (max-width: 567px) {
  .bottom-wave {
    right: -100%;
  }

  .top-wave {
    right: -100%;
  }

  .background-waves {
    height: 98vh;
  }
}