.ingredient {
  position: absolute;
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 1.8s cubic-bezier(0.34, 1.56, 0.64, 1);
  will-change: transform, opacity;
}