.about-background-container {
   position: fixed;
   top: 15%;
   right: -5%;
   width: 100%;
   height: 120vh;
   z-index: -1; 
   pointer-events: none;
   padding: 0;
   margin: 0;
   overflow: hidden;
}
  
.about-background {
  position: absolute;
  top: 0;
  right: 0; 
  width: auto;
  height: 100%;
  max-width: none;
  object-fit: cover;
  object-position: right top; 
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.show-background .about-background {
  opacity: 1;
}