.section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  background-color: transparent;
}

.section-content {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}