.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.snap-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

/* Add this to your main CSS file */
.text-justified {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  text-justify: inter-word;
  word-spacing: normal;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.01em;
}

.section, .vinz-feelings-section, .vinz-shop-section, .original-section {
  height: 100vh !important;
  min-height: 100vh !important;
  overflow: hidden;
}

.section-loading, .page-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  font-size: 1.5rem;
  color: #3965B5;
}