* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: calc(var(--vh, 1vh) * 100);
}

html {
  scroll-behavior: smooth;
  height: calc(var(--vh, 1vh) * 100);
}

:root {
  --vh: 1vh;
  --vw: 1vw;
  --font-scale-h: calc(var(--vh) * 0.02);
  --font-scale-w: calc(var(--vw) * 0.04);
  --font-scale-combined: calc((var(--vh) * 0.02 + var(--vw) * 0.04) / 2);
}

#root {
  height: calc(var(--vh, 1vh) * 100);
}